.vscode/**
.git/**
typings/**
src/**
**/*.ts
**/*.map
.gitignore
tsconfig.json
**/*.log
package-lock.json
_config.yml
index.md
CHANGELOG.md
README.md
LICENSE
node_modules/**
build/**
esbuild.js
.agent/**
.github/**
